﻿@model IEnumerable<StudentsHealth.Models.Kullanici>

@{
    ViewBag.Title = "Kullanıcı Düzenleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı</h2>

<p>
    @Html.ActionLink("Yeni Kullanıcı Oluştur", "Create") 
</p>
<table class="table">
    <tr>
        <th>
            Kullanıcı ID
        </th>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Şifre
        </th>
        <th>
           E-Mail
        </th>
        <th>
           Ad Soyad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KullaniciID }) |
            @Html.ActionLink("Ayrıntılar", "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
