﻿@model List<StudentsHealth.Models.Duyuru>
@{
ViewBag.Title = "Duyurular";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sub-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="bot-0">Başlık Altındaki Duyurular</h4>
                <div class="row">
                    <div class="thumbnails_4">
                        @foreach (var item in Model)
                        {
                            <div class="span3">
                                <div class="thumbnail thumbnail_4">
                                    <figure><img src="@Url.Content(item.İmageUrl)" width="20" height="20" class="img-radius" alt=""></figure>
                                    <p class="lead p2"><h3><a href="@Url.Content("~/Home/Duyuru/")@item.DuyuruID" class="lead">@item.Baslik</a></h3></p>
                                    <p> @item.İcerik.Substring(0, 120) </p> 
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>