﻿@model StudentsHealth.Models.Duyuru

@{
ViewBag.Title = "Duyuru";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-content">
<div class="container">
    <div class="row">
        <p class="lead"><h2> @Html.DisplayFor(x => x.Baslik) </h2></p>          
            <div class="span5">
                <ul>
                    <p class="lead"> @Html.DisplayFor(x => x.İcerik)</p>
                </ul>
            </div>   
        
            <div class="span7">
                <img src="@Url.Content(Model.İmageUrl)" />
            </div>    
        <div>
            <div class="span5">
                <h3>Yorumlar</h3>
                <div>
                    <ul>
                        @foreach (var item in ViewBag.Yorumlar)
                        {
                            <li>
                                @item.Kullanici.KullaniciAdi
                                @item.Yorum1
                            </li>

                        }

                    </ul>
                </div>

            </div>
        </div>

            <div class="span4">
                <h4>Benzer Başlıklar</h4>
                @foreach(var item in ViewBag.DuyuruListe)
                { 
                    <ul class="thumbnails_2">
                    <li class="thumbnail_2">
                        <figure class="img-indent"><img src="@Url.Content(item.İmageUrl)" class="img-radius" alt=""></figure>
                        <p class="text-info">@item.Baslik</p>
                        @item.İcerik.Substring(0,30) <a href="@Url.Content("~/Home/Duyuru/")@item.DuyuruID" class="underline">>></a>
                    </li>


                  </ul>
                }
            </div>
        
        </div>
            </div>
        </div>