﻿
<div class="sub-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails indent-3">
                    @foreach (var item in ViewBag.Goster)
                    {
                        <li class="span3">                        
                        <div class="thumbnail thumbnail_1">
                            <div class="caption">
                                @item.Baslik                                
                            </div>
                            <div class="thumbnail-pad">
                                <p>@item.İcerik.Substring(0,200)<h2>......</h2></p>
                                <a href="@Url.Content("~/Home/Duyuru/")@item.DuyuruID" class="btn btn_">Daha Fazlası İçin</a>
                            </div>
                        </div>
                    </li>
                    }                                                   
                </ul>
            </div>
        </div>
        
        
    </div>
</div>
