﻿@model IEnumerable<StudentsHealth.Models.Kategori>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kategori ID
        </th>
        <th>
            Kategori Adı
        </th>
        <th>
            Ust Kategori ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UstKategoriID)
        </td>
        
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KategoriID }) |
            @Html.ActionLink("Ayrıntılar", "Details", new { id=item.KategoriID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KategoriID })
        </td>
    </tr>
}

</table>
