﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Students Health - Admin Paneli</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>
            <ul class="pagination">

                <li>@Html.ActionLink("Kullaniciları Yönet", "Index", "Kullanici")</li>
                <li>@Html.ActionLink("Duyuruları Düzenle", "Index", "Duyuru")</li>
                <li>@Html.ActionLink("Kategorileri Düzenle", "Index", "Kategori")</li>
            </ul>
        </nav>

    </header>      
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Students Health</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
