﻿<!DOCTYPE html>

<html lang="en">
<head>

<title>@ViewBag.Title - Students Health</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
    <link rel="icon" href="@Url.Content("~/Content/template/")img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/Content/template/")img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/template/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/template/css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/template/css/style.css" type="text/css" media="screen">
    
    
    

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="span10">
                    <div class="header-block clearfix">
                        <div class="clearfix header-block-pad">
                            <h1 class="brand"><a href="@Url.Content("~/Home/Index")"><img src="@Url.Content("~/Content/template/img/logo.png")" alt=""></a><span>Just Do İt</span></h1>
                            <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form">
                                <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''">
                                <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                            </form>
                            <span class="contacts">Arama Hattı:  <span>+90 539 999 9999</span><br> 
                                <a href="@Url.Content("~/Home/Duyurular/24")">Örnek Sayfa</a>
                                <a href="@Url.Content("~/Home/Duyurular/20")">Örnek Sayfa2</a>
                                <a href="@Url.Content("~/Home/Duyurular/19")">Örnek Sayfa3</a>
                            </span>
                        </div>
                        <div class="navbar navbar_ clearfix">
                            <div class="navbar-inner navbar-inner_">
                                <div class="container">
                                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse_"></a>
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sv-menu">                                           
                                             <li class="li-first"><a href="@Url.Content("~/Home/Index")">AnaSayfa</a></li>                                                                                                 
                                            <li class="sub-menu"><a href="">Zayıflama</a>
                                                <ul>
                                                    <li><a href="@Url.Content("~/Home/Duyurular/23")">Diyet</a></li>
                                                    <li><a href="@Url.Content("~/Home/Duyurular/24")">Spor</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu"><a href="">Sağlık</a>
                                                <ul>
                                                    <li>Beslenme<a href="@Url.Content("~/Home/Duyurular/25")"></a></li>
                                                    <li>Genel Sağlık<a href="@Url.Content("~/Home/Duyurular/26")"></a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu"><a href="">Fitness</a>
                                                <ul>
                                                    <li>Genel Bilgiler<a href="@Url.Content("~/Home/Duyurular/27")"></a></li>
                                                    <li>Evde Vücut Geliştirme<a href="@Url.Content("~/Home/Duyurular/28")"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href=""></a>Kaç Kalori?</li>
                                            <li class="sub-menu">
                                                <ul>
                                                    <li>Genel Bilgiler<a href="@Url.Content("~/Home/Duyurular/29")"></a></li>
                                                    <li>Evde Vücut Geliştirme<a href="@Url.Content("~/Home/Duyurular/30")"></a></li>
                                                </ul>
                                            </li>

                                          

                                            <li>Link 1</li>
                                        </ul>
                                    </div>                         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*
                                                        *******************                         ÖNEMLİ AÇIKLAMA               *******************
                                                                   -----KATEGORİLERİN YERİNE SİTENİN DÜZGÜN ÇALIŞTIĞINI GÖSTERMEK İÇİN
                                                                                     HEADER KISMINA 3 TANE LİNK YAZDIK İNDİRDİĞİMİZ TEMPLATEDEN DOLAYI GÖRÜNTÜLENMİYOR
                                                        ------------------KATEGORİLERİ veri tabanından çekip yazdırmıştık fakat göstermiyor----------
                                                               KODLAR Çalışıyor Web Browserda " Sağ Tık/İncele dediğimizde  kod kısmında görünüyor
                                                                                                ama Görüntülemiyor
                                                                                    DEFAULT MVC TEMPLATE YÜKLÜ İKEN AŞAĞIDAKİ KOD ÇALIŞMAKTAYDI.
                                                                                  Menü HTML Kodlarıyla eklendiğindede menüler ve alt menüler çalışmıyor.
                                                                                       Muhtemelen temanın js veya css dosyalarıyla alakalı.
                                                                                                KODLAR AŞAĞIDADIR

                                                        @foreach (StudentsHealth.Models.KategoriViewModel item in ViewBag.Kategoriler)
        {
            if (item.AltKategoriler.Count == 0)
            {
                <li><a href="@Url.Content("/Home/Duyurular/" + item.Kategori.KategoriID)"></a></li>
            }
            else
            {
                <li class="sub-menu">
                    <ul>
                        @foreach (var item2 in item.AltKategoriler)
                        {
                            <li><a href="@Url.Content("/Home/Duyurular/" + item2.KategoriID)">@item2.Text</a></li>
                        }
                    </ul>
                </li>
            }
        }*@




<section class="main-content">

    @RenderBody()


    <footer>
        <p>&copy; @DateTime.Now.Year - Students Health</p>
    </footer>

</section>

    

  
    <script type="text/javascript" src="~/Content/template/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/template/js/jquery.ui.totop.js" type="text/javascript"></script>
   
    @RenderSection("scripts", required: false)
    
   
  
  
       
    

</body>
</html>


