﻿@model StudentsHealth.Models.Duyuru

@{
    ViewBag.Title = "Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Duyuru Ekle</h2>


@using (Html.BeginForm("Create", "Duyuru", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>Duyuru</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.İmageUrl, "Resim Seç", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="form-control" name="image" id="image" accept="image/*" /> 
                              
                @Html.ValidationMessageFor(model => model.İmageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baslik, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.İcerik, "İçerik", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.İcerik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.İcerik, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriID, "Kategorisi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                                 
                   @Html.DropDownList("KategoriID", null, htmlAttributes: new { @class = "form-control" })
                
                    @Html.ValidationMessageFor(model => model.KategoriID, "", new { @class = "text-danger" })               
             </div>    
        </div>
        































        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
