﻿@model StudentsHealth.Models.Duyuru

@{
    ViewBag.Title = "Duyuru Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SİL</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Duyuru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fotoğraf Dosya Yolu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İmageUrl)
        </dd>

        <dt>
           Başlık
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
           İçerik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İcerik)
        </dd>

        <dt>
            Kategori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.Text)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
