﻿@model StudentsHealth.Models.Duyuru

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Duyuru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fotoğraf Dosya Yolu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İmageUrl)
        </dd>

        <dt>
            Başlık
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            İçerik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İcerik)
        </dd>

        <dt>
            Kategori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.Text)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.DuyuruID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
