﻿@model IEnumerable<StudentsHealth.Models.Duyuru>

@{
    ViewBag.Title = "Duyuru Düzenleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Duyuru Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Duyuru ID
        </th>
        <th>
            Fotoğraf
        </th>
        
        <th>
            Üst Kategori
        </th>
        <th>
           İçerik
        </th>
        <th>
            Alt Kategori Başlığı
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DuyuruID)
        </td>
        <td>
            @if(@item.İmageUrl != null)
            {
             <img src="@Url.Content(item.İmageUrl)" width="50" height="70" />
            }
            else
            {
                <img src="@item.İmageUrl" width="50" height="70" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.Text)
        </td>
        
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.DuyuruID }) |
            @Html.ActionLink("Ayrıntılar", "Details", new { id=item.DuyuruID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.DuyuruID })
        </td>
    </tr>
}

</table>
