﻿@model IEnumerable<StudentsHealth.Models.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yorum1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru.İmageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yorum1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru.İmageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YorumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.YorumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YorumID })
        </td>
    </tr>
}

</table>
